  <div id="you">
    <p><%= @ask %></p>
    <p>-You</p>
  </div>

  <div id="coach">
    <p><strong><%= @answer %></strong></p>
    <p>-Your coach</p>
    <%= link_to "new question", "/ask" %>
  </div>

